@import 'variables';

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.skeletonWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skeleton {
  background-color: var(--bg-secondary);
  border-radius: 4px;
  animation: pulse 1.5s ease-in-out infinite;
}
